body {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.przycisk {
    background-color: lightblue;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
}

.powrot {
  margin-top: 20px;
}