* {
    box-sizing: border-box;
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    background-image: url(../Panel_Uzytkownika/books.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

#pakiety {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transyearse(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}

.button {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
}

.button_sum {
    display: inline-block;
    padding: 10px 50px;
    max-width: 12.5%;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
}

.button:hover {
    background-color: rgb(206, 206, 255);
}

.button_sum:hover {
    background-color: rgb(206, 206, 255);
}

.podswietlony {
    background-color: rgb(206, 206, 255);
}

.add_book {
    background-color: transparent;
    color: #fff;
}

option {
    color: black;
}