:root
{
    --book-image: url(../Images/Books.jpg);
}

* {
    box-sizing: border-box;
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#background {
    background-image: var(--book-image);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}
#packages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgb(233 232 232 / 71%);
    color: black;
    font-weight: bold;
    border: 10px inset #d4d2d2;
    backdrop-filter: blur(2px); 
}

.button{
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    background-color: #a39494;
}

.button_sum {
    padding: 10px 50px;
    width: 50%;
    border: 2px solid #fff;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    background-color: #7f7070;
}

button:hover, .button_sum:hover {
    background-color: rgb(141 141 141);
}

.active {
    background-color: rgb(94 82 82);
}

.add_book {
    background-color: transparent;
    color: #fff;
    background-color: #7f7070;
}

option {
    color: #fff;
}

table {
    margin-left: 30%;
}
