body {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    align-content: flex-start;
    justify-content: center;
}

.duzy-banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    justify-content: center;
    background-color: rgb(233, 232, 232);
    font-family: Montserrat,sans-serif;
}

.banner {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(233, 232, 232);
    width: 70%;
    height: 20%;
    margin-top: 1%;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.pod_bannerem {
    display: flex;
    box-sizing: border-box;
    height:80%;
    width: 100%;
    justify-content: center;
}

.lewa, .prawa{
    display: flex;
    width: 20%;
    margin: 0;
}

.lewa {
    align-items: flex-start;
}

.srodek {
    display: inline-block;
    flex-wrap: wrap;
    width: 60%;
    height: 100%;
    background-color: white;
    align-content: flex-start;
    justify-content: center;
}

#wyszukiwanie {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
}

#wyszukiwanie input, #wyszukiwanie select {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(233, 232, 232);
    border-bottom: solid 1px lightgray;
    margin-left: 1%;
}

#bookResults {
    display: flex;
}


.prawa {
    align-items: flex-end;
}

.zdjecie, .info{
    box-sizing: border-box;
    display: flex;
}

.zdjecie {
    justify-content: flex-end;
    align-items: top;
    height: 70%;
    width: 40%;
    float: left;
    padding-top: 5%;
    padding-right: 5%;
}

.info {
    width: 60%;
    height: 30%;
    float: left;
    margin-top: 7%;
}

.info table {
    left: 0;
    border-collapse: collapse;
    margin: 0 auto;
  }

#opis {
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    height: 40%;
    float: left;
}

#opis table {
    margin-left: 0;
    margin-right: auto;
}

.wypozycz {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    flex-direction: column;
    float: none;
}

td {
    padding: 6px;
  }

li {
    margin-top: 10%;
  }

ul {
    display: inline-block;
    width: 100%;
}

tr {
    border-bottom: 1px solid lightgray;
}

  .book-item {
    display: inline-block;
    margin: 10px;
    width: 17%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
  }

  .przycisk {
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid lightgray;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
}

.przycisk:hover {
    background-color: rgb(206, 206, 255);
}

.menu {
    height: 80%;
    width: 7%;
}

.menu form {
    border: none;
    background-color: rgb(233, 232, 232);
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.menu input {
    border: none;
    background-color: rgb(233, 232, 232);
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
}

.menu input:hover {
    border: none;
    background-color: rgb(206, 206, 255);
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#koszykArr {
    display: flex;
    width: 8%;
    justify-content: center;
    font-size: small;
}

#koszykArr:hover {
    background-color: rgb(206, 206, 255);
}

#koszyk {
    display: flex;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

img {
    cursor: pointer;
    margin-right: 5px;
}


