body {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    align-content: flex-start;
    justify-content: center;
}

#duzy-banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    justify-content: center;
    background-color: rgb(233, 232, 232);
    font-family: Montserrat,sans-serif;
}

.banner, .pod_bannerem {
    display: flex;
    box-sizing: border-box;
}

.banner {
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(233, 232, 232);
    width: 70%;
    height: 20%;
    margin-top: 1%;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.pod_bannerem {
    height:70%;
    width: 100%;
    justify-content: center;
}

.lewa, .prawa{
    display: flex;
    width: 20%;
    margin: 0;
}

.lewa {
    align-items: flex-start;
}

.srodek {
    display: inline-block;
    flex-wrap: wrap;
    width: 60%;
    background-color: white;
    align-content: flex-start;
    justify-content: center;
}

#wyszukiwanie {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
}

#wyszukiwanie input, #wyszukiwanie select {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(233, 232, 232);
    border-bottom: solid 1px lightgray;
    margin-left: 1%;
}

#bookResults {
    display: flex;
}


.prawa {
    align-items: flex-end;
}

.zdjecie, .info{
    min-width: 50%;
    min-height: 50vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.zdjecie {
    justify-content: flex-end;
    align-items: top;
    padding: 5%;
    border: solid green 5px;
}

.info {
    border: solid aquamarine 5px;
}

.info table {
    border-collapse: collapse;
    margin: 0 auto;
  }

.opis {
    justify-content: flex-end;
    border: solid yellow 5px;
    padding: 2%;
    align-items: center;
    width: 100%;
}

.opis table {
    margin-left: 0;
    margin-right: auto;
}

.wypozycz {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid yellowgreen 5px;
    flex-direction: column;
}

.wypozycz form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.wypozycz p {
    display: flex;
    width: 100%;
    justify-content: center;
  }

td {
    padding: 6px;
  }

li {
    margin-top: 10%;
  }

  .book-item {
    display: inline-block;
    width: 20%;
    margin: 10px;
  }

.przycisk {
    margin-top: 15px;
    font-weight: medium;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(144, 209, 46);
    cursor: pointer;
    padding: 10px 20px;
    border: 3px solid #220022;
}

.przycisk:hover {
    margin-top: 15px;
    font-weight: medium;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: greenyellow;
    cursor: pointer;
    padding: 10px 20px;
    border: 3px solid #220022;
}

.menu {
    height: 70%;
    width: 6%;
}

.menu form {
    border: none;
    background-color: rgb(233, 232, 232);
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.menu input {
    border: none;
    background-color: rgb(233, 232, 232);
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
}

.menu input:hover {
    border: none;
    background-color: rgb(206, 206, 255);
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#koszykArr {
    display: flex;
    width: 6%;
    justify-content: center;
    font-size: small;
}

#koszykArr:hover {
    background-color: rgb(206, 206, 255);
}

#koszyk {
    display: flex;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

img {
    cursor: pointer;
    margin-right: 5px;
}


